.contenedor_total_administrador{
    //background-color: red;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    display: flex;

    >.contenedor_registros{
        //background-color: green;
        height: 100%;
        width: 60%;

        >:global(.pagination){
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.5rem;
            //background-color: green;
        }
    }

    >.contenedor_formulario{
        //background-color: yellow;
        padding: 0 1rem;
        width: 40%;
        border-left: 1px solid rgb(122, 122, 122);
    }


    td, th{
        text-align: center;
        font-size: 13px;
    }

    td {
        vertical-align: middle;
        padding: 8px;
        > img{
            max-height: 100px;
            max-width: 100px;
        }

        ul{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;

            li{
                text-align: start;
            }
        }
    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
    }

}

@media only screen and (max-width: 900px){
    .contenedor_total_administrador{

        flex-direction: column;
    
        >.contenedor_registros{
            height: 70vh;
            width: 100%;
            overflow: scroll;
        }
    
        >.contenedor_formulario{
            width: 100%;
        }
    }
    
}