
.contenedor_productos_destacados{
    width: 100%;
    //background-color: gray;

    display: flex;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 2rem;
    flex-wrap: wrap;

    & > a{
        //box-shadow: 3px 3px 5px -3px rgba(255, 255, 255, 0.397);
        //transition: box-shadow 0.2s ease;

        &:hover{
            box-shadow: 1px 1px 10px 2px rgb(85, 85, 85);
        }
    }
}


@media only screen and (max-width: 500px){

    .contenedor_productos_destacados{
        column-gap: 1rem;
    }
    
}