.cont_editor_markdown{
    //background-color: red;
    position: relative;

    a{
        position: absolute;
        top: 36px;
        right: 10px;
        //background-color: red;
        font-size: 1.3rem;
    }
}